.Contacts {
  background-color: #1c1c65;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;

  &__socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__connectLinks {
    display: flex;
    gap: 10px;
  }

  &__social {
    background-color: transparent;
  }

  h3 {
    color: #c961de;
    font-family: Nunito, sans-serif;
    font-size: x-large;
  }

  p {
    color: #fff;
    font-family: Nunito, sans-serif;
  }

  &__personal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }

  &__personal p {
    color: #c961de;
  }
}

@media screen and (max-width: 767px) {
  .Contacts {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
